*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #272838;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#contentArea{
    display: grid;
    align-self: center;
}

.points{
    width: 64vh;
    height: 64vh;
    border-radius: 1rem;
    background-color: #989FCE;
    align-self: center;
}

.point{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: brown;
    border-radius: 100%;
}